@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 10;
  padding: 10;
}

.logo-header {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #951DCD;
}

.logo-header img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.summary-container {
  background-color: #fbf4ff;
  padding: 16px;
  border-radius: 8px;
  max-height: 240px;
  overflow: scroll;
}

.secondary-container {
  border: 1px solid #fbf4ff;
  border-radius: 8px;
  padding: 16px;
  max-height: 100px;
  overflow: scroll;
}

#disclaimer {
  font-size: 10px;
  color: #808080;
}

#logoName {
  text-align: center;
}

#main {
  width: 400px;
  padding: 10px;
}

#question {
  font-style: italic;
}

#error {
  color: red;
  font-weight: bold;
}

#response {
  white-space: pre-wrap;
}