@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 10;
  padding: 10;
}

.logo-header {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.logo-header img {
  width: 40px;
  height: 40px;
}

.summary-container {
  background-color: #F8EAFF;
  padding: 20px;
  border-radius: 12px;
  max-height: 280px;
  overflow: scroll;
}

#logo {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logoName {
  padding-top: 10px;
  text-align: center;
}
#main {
  width: 400px;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

#url {
  font-style: italic;
}

#error {
  color: red;
  font-weight: bold;
}

#response {
  white-space: pre-wrap;
}