@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.logo-header {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.logo-header img {
  width: 40px;
  height: 40px;
}

.summary-container {
  border: 1px solid #EDC6FF;
  font-size: 14px;
  padding: 0px 16px;
  border-radius: 8px;
  line-height: 22px;
  max-height: 250px;
  overflow: scroll;
}

#disclaimer {
  font-size: 10px;
  color: #808080;
}

#main {
  width: 400px;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

#url {
  font-style: italic;
}

#error {
  color: red;
  font-weight: bold;
}

#response {
  white-space: pre-wrap;
}